body{
 background-color:gainsboro ;
 }
.mainHeading{
 text-align: center;
}
p{
 font-size: x-large;
 text-align: left;
}
.center{
 width: 60%;
 margin: 0px auto;
 display: block;
}
ol li {
 font-size: x-large;
 text-align: left;
}